<div class="modal-header">
  @if (page() === 'main') {
    <h5 class="modal-title d-flex align-items-center">
      <i
        class="bi fs-3 mx-2"
        [class]="user()?.picture | picture"></i>
      <span class="ms-2">{{ user()?.name ?? translations.misc.anonymous }}</span>
    </h5>
    <button
      type="button"
      class="btn-close"
      (click)="modal.dismiss()"
      aria-label="Close"></button>
  } @else if (page() === 'change-user') {
    <button
      type="button"
      class="btn btn-link me-2"
      (click)="move('main')">
      <i
        class="bi-arrow-left"
        aria-label="back"></i>
    </button>
    <h5 class="modal-title">{{ translations.menu.changeUser }}</h5>
  }
</div>
<div class="modal-body">
  @if (page() === 'main') {
    <app-main-menu
      [user]="user()"
      (dismiss)="dismiss()"
      (move)="move($event)" />
  } @else if (page() === 'change-user') {
    <app-change-user
      [currentUser]="user()"
      [users]="users()"
      (selectedUser)="changeUser($event)" />
  }
</div>
