<div class="my-2 flex-shrink-0 d-flex flex-row align-items-center overflow-hidden">
  <h2 class="fs-6 m-0 flex-grow-1 text-truncate"
      i18n="@@mainPage.userList.title">
    Lists
  </h2>
  <fieldset class="btn-group flex-shrink-0"
            role="group">
    @if (!reordering()) {
      @if (users().length) {
        <button class="btn"
                [class]="theme() === 'light' ? 'btn-light' : 'btn-dark'"
                (click)="toggleReorder()">
          <i class="bi-sort-alpha-down"
             aria-label="Reorder"
             i18n-aria-label="@@mainPage.userList.reorder"></i>
        </button>
      }
      <button class="btn"
              [class]="theme() === 'light' ? 'btn-light' : 'btn-dark'"
              (click)="refresh()">
        <i class="bi-arrow-repeat"
           aria-label="Refresh"
           i18n-aria-label="@@mainPage.userList.refresh"></i>
      </button>
    } @else {
      <button class="btn btn-outline-secondary"
              (click)="toggleReorder()">
        <i class="bi-x"
           aria-label="Cancel"
           i18n-aria-label="@@mainPage.userList.cancel"></i>
      </button>
      <button class="btn btn-outline-success"
              (click)="saveOrder()">
        <i class="bi-check"
           aria-label="Save order"
           i18n-aria-label="@@mainPage.userList.saveOrder"></i>
      </button>
    }
  </fieldset>
</div>
<div class="flex-grow-1 pb-5 overflow-auto">
  <div class="list-group">
    @if (loading() === false) {
      @for (user of users(); track user.id; let index = $index) {
        @if (reordering()) {
          <div class="list-group-item d-flex align-items-center">
            <i class="d-block bi ms-2 me-3 my-2"
               [class]="user?.picture | picture"></i>
            <div class="flex-grow-1 my-2">{{ user.name }}</div>
            <fieldset class="btn-group flex-shrink-0"
                      role="group">
              <button type="button"
                      class="btn"
                      [class]="theme() === 'light' ? 'btn-light' : 'btn-dark'"
                      (click)="reorder(user.id, 'up')"
                      [disabled]="index === 0">
                <i class="bi-caret-up-fill"
                   aria-label="Move up"
                   i18n-aria-label="@@mainPage.userList.moveUp"></i>
              </button>
              <button type="button"
                      class="btn"
                      [class]="theme() === 'light' ? 'btn-light' : 'btn-dark'"
                      (click)="reorder(user.id, 'down')"
                      [disabled]="index === users().length - 1">
                <i class="bi-caret-down-fill"
                   aria-label="Move down"
                   i18n-aria-label="@@mainPage.userList.moveDown"></i>
              </button>
            </fieldset>
          </div>
        } @else {
          <button class="list-group-item list-group-item-action focus-ring d-flex align-items-center py-3"
                  (click)="selectUser(user)"
                  [class.active]="user === selectedUser()"
                  [ariaCurrent]="user === selectedUser()"
                  [class.list-group-item-primary]="user.id === connectedUserId()">
            <i class="d-block bi ms-2 me-3"
               [class]="user?.picture | picture"></i>
            <div>
              {{ user.name }}
            </div>
          </button>
        }
      }
    } @else {
      <div class="list-group-item d-flex py-3 placeholder-glow">
        <i class="d-block bi bi-person-fill ms-2 me-3"></i>
        <span class="placeholder col-4 my-1"></span>
      </div>
      <div class="list-group-item d-flex py-3 placeholder-glow">
        <i class="d-block bi bi-person-fill ms-2 me-3"></i>
        <span class="placeholder col-3 my-1"></span>
      </div>
      <div class="list-group-item d-flex py-3 placeholder-glow">
        <i class="d-block bi bi-person-fill ms-2 me-3"></i>
        <span class="placeholder col-5 my-1"></span>
      </div>
    }
  </div>
</div>