**/node_modules
.git
.sonarlint
.vscode
api/www/*
api/logs
api/out-tsc
api/src/generated/prisma/client
client/.angular
client/dist
client/public/images/icons/icon.svg
client/src/proxy.conf.json
client/src/translations.schema.json
.env
