# Compiled output
api/out-tsc
api/www/*
!api/www/.gitkeep
client/dist

# Node
**/node_modules

# Visual Studio Code
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
**/.history/*

# Angular cache
client/.angular/cache

# Prisma client
api/src/generated/prisma

# env files
.env

# logs
api/logs/*
!api/logs/.gitkeep
