# Compiled output
**/dist
**/out-tsc
api/www/*

# Node
**/node_modules

# Visual Studio Code
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
**/.history/*

# Angular cache
**/.angular/cache

# Prisma client
api/src/generated/client

# env files
**/.env

# logs
**/logs/*

# gitkeep
!**/.gitkeep
