<div class="container h-100 position-relative">
  <div class="row">
    <div class="col my-2 top-bar d-flex flex-row align-items-center overflow-hidden">
      <button type="button"
              class="btn btn-link me-2"
              routerLink="/">
        <i class="bi-arrow-left"
           aria-label="back"></i>
      </button>
      <div class="flex-grow-1 text-truncate">{{ translations.import.title }}</div>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <div class="mb-3">
        <i class="bi-upload me-2"></i>
        {{ translations.import.import }}
      </div>
      @if (state$ | async; as state) {
      @if (state.step === 'select-file') {
      <div class="row">
        <div class="col">
          <div class="input-group">
            <input type="text"
                   class="form-control"
                   [placeholder]="translations.import.csvFile"
                   readonly
                   [value]="file?.name"
                   [attr.aria-label]="translations.import.csvFile"
                   aria-describedby="browse-btn">
            <button type="button"
                    class="btn btn-primary"
                    id="browse-btn"
                    (click)="filepicker.click()">{{ translations.import.browse }}</button>
          </div>
          <input #filepicker
                 id="filepicker"
                 type="file"
                 class="d-none"
                 (change)="selectFile($any($event))"
                 aria-label="File"
                 accept="text/csv">
        </div>
        <div class="col-auto">
          <button type="button"
                  class="btn btn-primary"
                  (click)="import()"
                  [disabled]="!file">{{ translations.import.import }}</button>
        </div>
      </div>
      <div class="row">
        <div class="col mt-1">
          <a href="import-{{ translations.language }}.csv">
            {{ translations.import.downloadTemplateFile }}
          </a>
        </div>
      </div>
      }
      @else {
      <div class="row">
        <div class="col">
          <div class="progress mb-3"
               role="progressbar"
               aria-label="Progress"
               [attr.aria-valuenow]="state.step === 'importing' ? 0 : 100"
               aria-valuemin="0"
               aria-valuemax="100">
            <div class="progress-bar w-100"
                 [class.progress-bar-striped]="state.step === 'importing'"
                 [class.progress-bar-animated]="state.step === 'importing'"></div>
          </div>
        </div>
      </div>
      @if (state.result?.error) {
      <div class="row">
        <div class="col">
          <div class="alert alert-danger"
               role="alert">
            <div>{{ translations.import.errorMessage }}</div>
            <div class="font-monospace">
              {{ state.result?.error }}
            </div>
          </div>
        </div>
      </div>
      } @else if (state.result?.success) {
      <div class="row">
        <div class="col">
          <div class="alert alert-success"
               role="alert">
            <div>{{ translations.import.successMessage }}</div>
            <div class="font-monospace">
              <div>Imported users:</div>
              @for (user of state.result?.success?.importedUsers | keyvalue; track user.key) {
              <div>- {{ user.key }}: {{ user.value }}</div>
              }
              <div>Imported gifts:</div>
              @for (gift of state.result?.success?.importedGifts | keyvalue; track gift.key) {
              <div>- {{ gift.key }}: {{ gift.value }}</div>
              }
            </div>
          </div>
        </div>
      </div>
      }
      }
      }
    </div>
  </div>
</div>