<div class="modal-header">
  <h5 class="modal-title"
      i18n="@@changePasswordModal.title">
    Change the password for the "{{ group()?.name //i18n(ph="name") }}" group
  </h5>
  <button type="button"
          class="btn-close"
          (click)="modal.dismiss()"
          aria-label="Close"
          i18n-aria-label="@@changePasswordModal.close"></button>
</div>
<div class="modal-body">
  <form [formGroup]="form">
    <div class="mb-3">
      <label for="newPassword"
             class="form-label">New password</label>
      <input type="password"
             class="form-control"
             [class.border-danger]="form.controls.newPassword.invalid && form.controls.newPassword.touched"
             id="newPassword"
             formControlName="newPassword">
    </div>
    <div class="mb-3">
      <label for="confirmPassword"
             class="form-label">Confirm password</label>
      <input type="password"
             class="form-control"
             [class.border-danger]="form.controls.confirmPassword.invalid && form.controls.confirmPassword.touched"
             id="confirmPassword"
             formControlName="confirmPassword">
    </div>
  </form>
</div>
<div class="modal-footer">
  <button type="button"
          class="btn btn-success"
          (click)="save()"
          [disabled]="form.invalid">
    <i class="bi bi-floppy me-2"></i>
    <span i18n="@@changePasswordModal.save">Save</span>
  </button>
</div>