<div class="container h-100"
     [class.user-selected]="(selectedUser$ | async) !== null">
  <div class="row h-100">
    <div class="col-12 col-lg-6 h-100 user-list">
      <app-user-list [loading]="loading$ | async"
                     [selectedUser]="selectedUser$ | async"
                     (clickRefresh)="refresh()"
                     (selectUser)="selectUser($event)"
                     [users]="users"></app-user-list>
    </div>
    <div class="col-12 col-lg-6 h-100 gift-list position-relative">
      <app-user-gifts [user]="selectedUser$ | async"></app-user-gifts>
    </div>
  </div>
</div>
