@for (toast of toasts(); track toast) {
  <ngb-toast
    class="mx-auto"
    [class]="toast.classname"
    [delay]="toast.delay"
    (hidden)="hide(toast)">
    <div class="d-flex align-items-center">
      <span class="flex-grow-1">{{ toast.body }}</span>
      @if (toast.callback) {
        <button
          class="btn btn-link text-decoration-none flex-shrink-0"
          (click)="callback(toast)">
          @if (toast.button) {
            <span>{{ toast.button }}</span>
          } @else {
            <span i18n="@@toast.defaultButton">OK</span>
          }
        </button>
      }
    </div>
  </ngb-toast>
}
